.game-board{
  user-select: none;
  width: 490px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
}

.game-box{
  width: 450px;
  height: 450px;
  padding: 10px;
  box-sizing: border-box;
  background: #bbada0;
  border-radius: 5px;
  position: relative;
}
.grid-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.grid-cell{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: rgba(238, 228, 218, 0.35);
}

.view-score-link{
  color: #695d51;
  line-height: 1.8em
}
